h1{
    color: brown;

}

h2{
    color: blue;
}

h3{
    color: green;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    font: bolder;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    font: bolder;
}