body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h3 {
    margin: 5px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
}

header h1 {
    margin-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 5px;
}

ol > li {
    font-weight: bold;
    margin-top: 15px;
    font-size: 14pt;
}

/* Style cho các nhóm font theo yêu cầu  */
.group-verdana {
    font-family: Verdana, sans-serif;
    color: black;
    font-size: 13pt;
    font-weight: normal;
    list-style-type: circle;
}

.group-tahoma {
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 13pt;
    font-weight: normal;
    list-style-type: square;
}

.group-times {
    font-family: "Times New Roman", serif;
    color: black;
    font-size: 13pt;
    font-weight: normal;
    list-style-type: disc;
}

.graduation {
    margin-left: 20px;
    margin-top: 20px;
}

.group-verdana-red {
    font-family: Verdana, sans-serif;
    color: red;
    font-size: 13pt;
    font-weight: normal; 
}